<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="regraNovaAtiva" value="false"/>
		<add key="chaveExemplo" value="batatas... do app.config Console.App"/>
		<add key="diasLancamento" value="31"/>
		<add key="descontoDiasLancamento" value="50"/>
	</appSettings>
	<connectionStrings>
		
	</connectionStrings>
</configuration>