<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="chaveExemplo" value="batatas... do app.config do DAL.tests"/>
		<add key="diasLancamento" value="31"/>
		<add key="descontoDiasLancamento" value="50"/>

		<add key="ativarDesconto" value="true"/>
		
		<add key="primeiroPeriodoDesconto" value="31"/>
		<add key="segundoPeriodoDesconto" value="60"/>
		<add key="primeiroNivelDesconto" value="10"/>
		<add key="segundoNivelDesconto" value="20"/>

		<!--Introdução Ao DependencyInjection-->
		<add key="RegraDescontoValida" value="Percentual"/>  <!--Combinada-->
		
		
	</appSettings>
</configuration>